Repository alumet-dev/alumet, pull requests merged in 2025-03, with the labels that each got.

#113 Extract FFI C interface into a separate crate
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  alumet-api-dynamic/.gitignore
  alumet-api-dynamic/Cargo.toml
  alumet-api-dynamic/build.rs
  alumet-api-dynamic/src/bindings.rs
  alumet-api-dynamic/src/lib.rs
  alumet-api-dynamic/src/units.rs
  alumet-api-macros/Cargo.toml
  alumet-api-macros/src/lib.rs
  alumet-ffi/Cargo.toml
  alumet-ffi/build.rs
  alumet-ffi/src/config.rs
  alumet-ffi/src/dynload.rs
  alumet-ffi/src/lib.rs
  alumet-ffi/src/metrics.rs
  alumet-ffi/src/pipeline.rs
  alumet-ffi/src/plugin.rs
  alumet-ffi/src/resources.rs
  alumet-ffi/src/string.rs
  alumet-ffi/src/time.rs
  alumet-ffi/src/units.rs
  alumet/Cargo.toml
  alumet/build.rs
  alumet/generated/alumet-api.h
  alumet/generated/alumet-symbols.txt
  alumet/src/lib.rs
  alumet/src/plugin/mod.rs
  test-dynamic-plugin-c/Makefile
  test-dynamic-plugin-c/src/output.h
  test-dynamic-plugin-c/src/plugin.c
  test-dynamic-plugin-c/src/source.h
  test-dynamic-plugin-rust/Cargo.toml
  test-dynamic-plugin-rust/src/lib.rs
  test-dynamic-plugins/Cargo.toml
  test-dynamic-plugins/build.rs
  test-dynamic-plugins/src/main.rs
  test-dynamic-plugins/tests/test_plugins.rs
Labels: A:core ⚙️

#118 plugin-procfs automatically increases file descriptors soft limit
  Cargo.lock
  plugin-procfs/Cargo.toml
  plugin-procfs/src/lib.rs
Labels: A:existing-plugin

#111 Feature/add the aggregation transform plugin
  .cspell.json
  .gitignore
  Cargo.lock
  Cargo.toml
  alumet/Cargo.toml
  alumet/src/measurement.rs
  alumet/src/resources.rs
  plugin-aggregation/Cargo.toml
  plugin-aggregation/src/aggregations.rs
  plugin-aggregation/src/lib.rs
  plugin-aggregation/src/transform.rs
Labels: A:new-plugin

#117 OpenTelemetry output for OpenSearch demo
  Cargo.lock
  agent/Cargo.toml
  agent/src/bin/main.rs
  plugin-opentelemetry/Cargo.toml
  plugin-opentelemetry/README.md
  plugin-opentelemetry/src/lib.rs
  plugin-opentelemetry/src/output.rs
Labels: A:new-plugin

#89 plugin-nvidia: collect nvml process metrics
  Cargo.lock
  plugin-nvidia/Cargo.toml
  plugin-nvidia/src/lib.rs
  plugin-nvidia/src/nvml.rs
  plugin-nvidia/src/nvml/device.rs
  plugin-nvidia/src/nvml/features.rs
  plugin-nvidia/src/nvml/metrics.rs
  plugin-nvidia/src/nvml/mod.rs
  plugin-nvidia/src/nvml/probe.rs
Labels: A:existing-plugin

#134 feature(core): Add introspection powers to the pipeline control API
  alumet/src/pipeline/control/handle.rs
  alumet/src/pipeline/control/main_loop.rs
  alumet/src/pipeline/control/messages.rs
  alumet/src/pipeline/control/mod.rs
  alumet/src/pipeline/control/request.rs
  alumet/src/pipeline/control/request/any.rs
  alumet/src/pipeline/control/request/create.rs
  alumet/src/pipeline/control/request/introspect.rs
  alumet/src/pipeline/control/request/output.rs
  alumet/src/pipeline/control/request/public.rs
  alumet/src/pipeline/control/request/source.rs
  alumet/src/pipeline/control/request/transform.rs
  alumet/src/pipeline/elements/output/control.rs
  alumet/src/pipeline/elements/source/control.rs
  alumet/src/pipeline/elements/transform/control.rs
  alumet/src/pipeline/naming/mod.rs
  alumet/tests/control.rs
  plugin-socket-control/src/command.rs
Labels: P:high
