Repository alumet-dev/alumet, pull requests merged in 2025-01, with the labels that each got.

#88 Reorganize CircleCI workflow and require manual approval for long jobs
  .circleci/config.yml
Labels: A:repository

#78 markdown lint workflow
  .cspell.json
  .cspell/project-words.txt
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/check.yaml
  .markdownlint.jsonc
  CONTRIBUTING.md
  README.md
  alumet/src/pipeline/util/threading.rs
  plugin-energy-estimation-tdp/README.md
  plugin-mongodb/src/lib.rs
  plugin-relay/proto/SPEC.md
  plugin-relay/src/client/output.rs
  plugin-socket-control/README.md
Labels: T:code-quality, A:repository

#71 agent: Improve exec error message
  .cspell/project-words.txt
  app-agent/Cargo.toml
  app-agent/src/exec_process.rs
  app-agent/src/lib.rs
  app-agent/src/word_distance.rs
Labels: T:ux, A:app-agent

#63 Feature/plugin_cgroupv2_k8s_memory
  .cspell.json
  .cspell/project-words.txt
  .gitignore
  plugin-cgroupv2/Cargo.toml
  plugin-cgroupv2/src/cgroupv2.rs
  plugin-cgroupv2/src/k8s/plugin.rs
  plugin-cgroupv2/src/k8s/probe.rs
  plugin-cgroupv2/src/k8s/token.rs
  plugin-cgroupv2/src/k8s/utils.rs
  plugin-cgroupv2/src/lib.rs
  plugin-cgroupv2/src/oar3/plugin.rs
  plugin-cgroupv2/src/oar3/probe.rs
  plugin-cgroupv2/src/oar3/utils.rs
  plugin-relay/src/client/plugin.rs
Labels: A:existing-plugin, T:code-quality
